{% extends "base.html" %}

{% block title %}About - Career Website{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">About Me</h1>
            
            <div class="row">
                <div class="col-md-4 text-center mb-4">
                    <div class="profile-placeholder bg-secondary rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 200px; height: 200px;">
                        <span class="text-white fs-1">👤</span>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3>Professional Summary</h3>
                    <p class="lead">
                        Welcome to my career website! I'm a passionate professional with a strong background in technology and innovation.
                    </p>
                    <p>
                        This website showcases my journey, experiences, and the skills I've developed throughout my career. 
                        I believe in continuous learning and staying at the forefront of industry trends.
                    </p>
                </div>
            </div>
            
            <hr class="my-5">
            
            <h3>Skills & Expertise</h3>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Web Development</li>
                        <li class="list-group-item">Python Programming</li>
                        <li class="list-group-item">Database Management</li>
                        <li class="list-group-item">Project Management</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Problem Solving</li>
                        <li class="list-group-item">Team Collaboration</li>
                        <li class="list-group-item">Communication</li>
                        <li class="list-group-item">Leadership</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}